= div_for comment do
  %h3
    = comment.name
    \<#{comment.email}> said:
    - if @article.owned_by? current_user
      %span.actions
        = link_to 'Delete', article_comment_path(:article_id => @article, :id => comment), :confirm => 'Are you sure?', :method => :delete
  = comment.body