%h1= t('.title')
%p= link_to t('.new_article'), new_article_path

%table
  %thead
    %tr
      %th= Article.human_attribute_name :title
      %th= Article.human_attribute_name :location
      %th= Article.human_attribute_name :excerpt
      %th= Article.human_attribute_name :body
      %th= Article.human_attribute_name :published_at
      %th{:colspan => 3}= t 'actions'
  
  %tbody
    - for article in @articles
      %tr{ :class => cycle(:odd, :even) }
        %td= article.title
        %td= article.location
        %td= article.excerpt
        %td= article.body
        %td= article.published_at
        %td.action= link_to t('show'), article
        %td.action= link_to t('edit'), edit_article_path(article)
        %td.action= link_to t('delete'), article, :confirm => 'are_you_sure', :method => :delete
