!!!
%html
  %head
    %title Hello Rails!
    / = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    / = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    / /[if lt IE 8]
    /   = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = csrf_meta_tag
    = javascript_include_tag :application
  %body.bp
    #header
      %h1= link_to "Blog", root_path
      #user_bar
        - if logged_in?
          = link_to "New Article", new_article_path
          = link_to "Edit Password", edit_user_path(current_user)
          = link_to "Logout", logout_path
        - else
          = link_to "Login", login_path
    #main
      = content_tag(:p, notice, :class => 'notice') if notice.present?
      = content_tag(:p, alert, :class => 'alert') if alert.present?
      = yield
    #footer
      A simple blog built for the book
      %a{:href => "http://beginningrails.com"} Beginning Rails 3